/vendor/
/node_modules/

/.phpunit.cache/
.phpunit.result.cache

/public/storage
/public/build/
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public/
/storage/framework/*
!/storage/framework/.gitignore
!/storage/framework/cache/
!/storage/framework/sessions/
!/storage/framework/views/
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

.env
.env.*
!.env.example
!.env.testing

.idea/
.vscode/
.DS_Store
Thumbs.db
*.swp
*~
